# InterestFactorの使用方法

In [1]:
import sys
sys.path.append('..')

from fpyjp.schemas.balance import AssetLiabilitySchema
from fpyjp.core.interest_factor import InterestFactor
from fpyjp.core.balance_simulator import AssetLiabilitySimulator

## 終価係数

In [2]:
rate = 0.05
time_period = 5
amount = 1

In [3]:
InterestFactor(
    rate=rate, 
    time_period=time_period, 
    amount=amount
).calculate_future_value()

1.2762815625000004

In [4]:
AssetLiabilitySimulator(
    initial_cash_balance = 0,
    initial_al_balance = 0,
    initial_al_book_balance = 0,
    initial_price = 1,
    rate = rate,
    cash_inflow_per_unit = 0,
    capital_cash_inflow_before_tax = 0,
    cash_outflow = amount,
    income_gain_tax_rate = 0,
    capital_gain_tax_rate = 0,
).simulate(n_periods=time_period+1)

,price,pre_cash_balance,pre_al_unit,pre_al_balance,pre_al_book_balance,pre_unrealized_gl,cash_inflow_per_unit,income_cash_inflow_before_tax,income_gain_tax_rate,income_gain_tax,...,unit_inflow,cash_outflow,cash_flow,unit_flow,cash_balance,al_unit,al_balance,al_book_balance,unrealized_gl,rate
time_period,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,-1.0,1.0,-1.0,1.0,1.0,1.0,0.0,0.05
1,1.05,-1.0,1.0,1.05,1.0,0.05,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-1.0,1.0,1.05,1.0,0.05,0.05
2,1.1025,-1.0,1.0,1.1025,1.0,0.1025,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-1.0,1.0,1.1025,1.0,0.1025,0.05
3,1.157625,-1.0,1.0,1.157625,1.0,0.157625,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-1.0,1.0,1.157625,1.0,0.157625,0.05
4,1.215506,-1.0,1.0,1.215506,1.0,0.215506,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-1.0,1.0,1.215506,1.0,0.215506,0.05
5,1.276282,-1.0,1.0,1.276282,1.0,0.276282,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-1.0,1.0,1.276282,1.0,0.276282,0.05

In [5]:
al_schema = AssetLiabilitySchema(
    price=1,
    unit=0,
    balance=0,
    book_balance=0,
    cashinflow_per_unit=0,
    rate=0.05,
)
AssetLiabilitySimulator(
    al_schema=al_schema,
    initial_cash_balance = 0,
    capital_cash_inflow_before_tax = 0,
    cash_outflow = 1,
    income_gain_tax_rate = 0,
    capital_gain_tax_rate = 0,
).simulate(n_periods=time_period+1)

,price,pre_cash_balance,pre_al_unit,pre_al_balance,pre_al_book_balance,pre_unrealized_gl,cash_inflow_per_unit,income_cash_inflow_before_tax,income_gain_tax_rate,income_gain_tax,...,unit_inflow,cash_outflow,cash_flow,unit_flow,cash_balance,al_unit,al_balance,al_book_balance,unrealized_gl,rate
time_period,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,-1.0,1.0,-1.0,1.0,1.0,1.0,0.0,0.05
1,1.05,-1.0,1.0,1.05,1.0,0.05,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-1.0,1.0,1.05,1.0,0.05,0.05
2,1.1025,-1.0,1.0,1.1025,1.0,0.1025,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-1.0,1.0,1.1025,1.0,0.1025,0.05
3,1.157625,-1.0,1.0,1.157625,1.0,0.157625,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-1.0,1.0,1.157625,1.0,0.157625,0.05
4,1.215506,-1.0,1.0,1.215506,1.0,0.215506,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-1.0,1.0,1.215506,1.0,0.215506,0.05
5,1.276282,-1.0,1.0,1.276282,1.0,0.276282,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-1.0,1.0,1.276282,1.0,0.276282,0.05

## 現価係数

In [6]:
rate = 0.05
time_period = 5
amount = 1

In [7]:
InterestFactor(
    rate=rate, 
    time_period=time_period, 
    amount=amount
).calculate_present_value()

0.7835261664684589

In [8]:
AssetLiabilitySimulator(
    initial_cash_balance = 0,
    initial_al_balance = 0,
    initial_al_book_balance = 0,
    initial_price = 1,
    rate = rate,
    cash_inflow_per_unit = 0,
    capital_cash_inflow_before_tax = 0,
    cash_outflow = InterestFactor(rate=rate, time_period=time_period, amount=amount).calculate_present_value(),
    income_gain_tax_rate = 0,
    capital_gain_tax_rate = 0,
).simulate(n_periods=time_period+1)

,price,pre_cash_balance,pre_al_unit,pre_al_balance,pre_al_book_balance,pre_unrealized_gl,cash_inflow_per_unit,income_cash_inflow_before_tax,income_gain_tax_rate,income_gain_tax,...,unit_inflow,cash_outflow,cash_flow,unit_flow,cash_balance,al_unit,al_balance,al_book_balance,unrealized_gl,rate
time_period,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.783526,0.783526,-0.783526,0.783526,-0.783526,0.783526,0.783526,0.783526,0.0,0.05
1,1.05,-0.783526,0.783526,0.822702,0.783526,0.039176,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.783526,0.783526,0.822702,0.783526,0.039176,0.05
2,1.1025,-0.783526,0.783526,0.863838,0.783526,0.080311,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.783526,0.783526,0.863838,0.783526,0.080311,0.05
3,1.157625,-0.783526,0.783526,0.907029,0.783526,0.123503,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.783526,0.783526,0.907029,0.783526,0.123503,0.05
4,1.215506,-0.783526,0.783526,0.952381,0.783526,0.168855,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.783526,0.783526,0.952381,0.783526,0.168855,0.05
5,1.276282,-0.783526,0.783526,1.0,0.783526,0.216474,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.783526,0.783526,1.0,0.783526,0.216474,0.05

In [9]:
al_schema = AssetLiabilitySchema(
    price=1,
    unit=0,
    balance=0,
    book_balance=0,
    cashinflow_per_unit=0,
    rate=rate,
)
AssetLiabilitySimulator(
    al_schema=al_schema,
    initial_cash_balance = 0,
    capital_cash_inflow_before_tax = 0,
    cash_outflow = InterestFactor(rate=rate, time_period=time_period, amount=amount).calculate_present_value(),
    income_gain_tax_rate = 0,
    capital_gain_tax_rate = 0,
).simulate(n_periods=time_period+1)

,price,pre_cash_balance,pre_al_unit,pre_al_balance,pre_al_book_balance,pre_unrealized_gl,cash_inflow_per_unit,income_cash_inflow_before_tax,income_gain_tax_rate,income_gain_tax,...,unit_inflow,cash_outflow,cash_flow,unit_flow,cash_balance,al_unit,al_balance,al_book_balance,unrealized_gl,rate
time_period,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.783526,0.783526,-0.783526,0.783526,-0.783526,0.783526,0.783526,0.783526,0.0,0.05
1,1.05,-0.783526,0.783526,0.822702,0.783526,0.039176,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.783526,0.783526,0.822702,0.783526,0.039176,0.05
2,1.1025,-0.783526,0.783526,0.863838,0.783526,0.080311,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.783526,0.783526,0.863838,0.783526,0.080311,0.05
3,1.157625,-0.783526,0.783526,0.907029,0.783526,0.123503,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.783526,0.783526,0.907029,0.783526,0.123503,0.05
4,1.215506,-0.783526,0.783526,0.952381,0.783526,0.168855,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.783526,0.783526,0.952381,0.783526,0.168855,0.05
5,1.276282,-0.783526,0.783526,1.0,0.783526,0.216474,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.783526,0.783526,1.0,0.783526,0.216474,0.05

## 年金終価係数

In [10]:
rate = 0.05
time_period = 5
amount = 1

In [11]:
InterestFactor(
    rate=rate, 
    time_period=time_period, 
    amount=amount
).calculate_future_value_of_annuity()

5.525631250000007

In [12]:
AssetLiabilitySimulator(
    initial_cash_balance = 0,
    initial_al_balance = 0,
    initial_al_book_balance = 0,
    initial_price = 1,
    rate = rate,
    cash_inflow_per_unit = 0,
    capital_cash_inflow_before_tax = 0,
    cash_outflow = [amount] * time_period,
    income_gain_tax_rate = 0,
    capital_gain_tax_rate = 0,
).simulate(n_periods=5)

,price,pre_cash_balance,pre_al_unit,pre_al_balance,pre_al_book_balance,pre_unrealized_gl,cash_inflow_per_unit,income_cash_inflow_before_tax,income_gain_tax_rate,income_gain_tax,...,unit_inflow,cash_outflow,cash_flow,unit_flow,cash_balance,al_unit,al_balance,al_book_balance,unrealized_gl,rate
time_period,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,-1.0,1.0,-1.0,1.0,1.0,1.0,0.0,0.05
1,1.05,-1.0,1.0,1.05,1.0,0.05,0.0,0.0,0.0,0.0,...,0.952381,1.0,-1.0,0.952381,-2.0,1.952381,2.05,2.0,0.05,0.05
2,1.1025,-2.0,1.952381,2.1525,2.0,0.1525,0.0,0.0,0.0,0.0,...,0.907029,1.0,-1.0,0.907029,-3.0,2.85941,3.1525,3.0,0.1525,0.05
3,1.157625,-3.0,2.85941,3.310125,3.0,0.310125,0.0,0.0,0.0,0.0,...,0.863838,1.0,-1.0,0.863838,-4.0,3.723248,4.310125,4.0,0.310125,0.05
4,1.215506,-4.0,3.723248,4.525631,4.0,0.525631,0.0,0.0,0.0,0.0,...,0.822702,1.0,-1.0,0.822702,-5.0,4.545951,5.525631,5.0,0.525631,0.05

In [13]:
al_schema = AssetLiabilitySchema(
    price=1,
    unit=0,
    balance=0,
    book_balance=0,
    cashinflow_per_unit=0,
    rate=rate,
)
AssetLiabilitySimulator(
    al_schema=al_schema,
    initial_cash_balance = 0,
    capital_cash_inflow_before_tax = 0,
    cash_outflow = [amount] * time_period,
    income_gain_tax_rate = 0,
    capital_gain_tax_rate = 0,
).simulate(n_periods=time_period)

,price,pre_cash_balance,pre_al_unit,pre_al_balance,pre_al_book_balance,pre_unrealized_gl,cash_inflow_per_unit,income_cash_inflow_before_tax,income_gain_tax_rate,income_gain_tax,...,unit_inflow,cash_outflow,cash_flow,unit_flow,cash_balance,al_unit,al_balance,al_book_balance,unrealized_gl,rate
time_period,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,-1.0,1.0,-1.0,1.0,1.0,1.0,0.0,0.05
1,1.05,-1.0,1.0,1.05,1.0,0.05,0.0,0.0,0.0,0.0,...,0.952381,1.0,-1.0,0.952381,-2.0,1.952381,2.05,2.0,0.05,0.05
2,1.1025,-2.0,1.952381,2.1525,2.0,0.1525,0.0,0.0,0.0,0.0,...,0.907029,1.0,-1.0,0.907029,-3.0,2.85941,3.1525,3.0,0.1525,0.05
3,1.157625,-3.0,2.85941,3.310125,3.0,0.310125,0.0,0.0,0.0,0.0,...,0.863838,1.0,-1.0,0.863838,-4.0,3.723248,4.310125,4.0,0.310125,0.05
4,1.215506,-4.0,3.723248,4.525631,4.0,0.525631,0.0,0.0,0.0,0.0,...,0.822702,1.0,-1.0,0.822702,-5.0,4.545951,5.525631,5.0,0.525631,0.05

## 減債基金係数

In [14]:
rate = 0.05
time_period = 5
amount = 1

In [15]:
InterestFactor(
    rate=rate, 
    time_period=time_period, 
    amount=amount
).calculate_sinking_fund()

0.18097479812826792

In [16]:
AssetLiabilitySimulator(
    initial_cash_balance = 0,
    initial_al_balance = 0,
    initial_al_book_balance = 0,
    initial_price = 1,
    rate = 0.05,
    cash_inflow_per_unit = 0,
    capital_cash_inflow_before_tax = 0,
    cash_outflow = [InterestFactor(rate=rate, time_period=time_period, amount=amount).calculate_sinking_fund()] * time_period,
    income_gain_tax_rate = 0,
    capital_gain_tax_rate = 0,
).simulate(n_periods=time_period)

,price,pre_cash_balance,pre_al_unit,pre_al_balance,pre_al_book_balance,pre_unrealized_gl,cash_inflow_per_unit,income_cash_inflow_before_tax,income_gain_tax_rate,income_gain_tax,...,unit_inflow,cash_outflow,cash_flow,unit_flow,cash_balance,al_unit,al_balance,al_book_balance,unrealized_gl,rate
time_period,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.180975,0.180975,-0.180975,0.180975,-0.180975,0.180975,0.180975,0.180975,0.0,0.05
1,1.05,-0.180975,0.180975,0.190024,0.180975,0.009049,0.0,0.0,0.0,0.0,...,0.172357,0.180975,-0.180975,0.172357,-0.36195,0.353332,0.370998,0.36195,0.009049,0.05
2,1.1025,-0.36195,0.353332,0.389548,0.36195,0.027599,0.0,0.0,0.0,0.0,...,0.164149,0.180975,-0.180975,0.164149,-0.542924,0.517481,0.570523,0.542924,0.027599,0.05
3,1.157625,-0.542924,0.517481,0.599049,0.542924,0.056125,0.0,0.0,0.0,0.0,...,0.156333,0.180975,-0.180975,0.156333,-0.723899,0.673814,0.780024,0.723899,0.056125,0.05
4,1.215506,-0.723899,0.673814,0.819025,0.723899,0.095126,0.0,0.0,0.0,0.0,...,0.148888,0.180975,-0.180975,0.148888,-0.904874,0.822702,1.0,0.904874,0.095126,0.05

In [17]:
al_schema = AssetLiabilitySchema(
    price=1,
    unit=0,
    balance=0,
    book_balance=0,
    cashinflow_per_unit=0,
    rate=rate,
)
AssetLiabilitySimulator(
    al_schema=al_schema,
    initial_cash_balance = 0,
    capital_cash_inflow_before_tax = 0,
    cash_outflow = [InterestFactor(rate=rate, time_period=time_period, amount=amount).calculate_sinking_fund()] * time_period,
    income_gain_tax_rate = 0,
    capital_gain_tax_rate = 0,
).simulate(n_periods=time_period)

,price,pre_cash_balance,pre_al_unit,pre_al_balance,pre_al_book_balance,pre_unrealized_gl,cash_inflow_per_unit,income_cash_inflow_before_tax,income_gain_tax_rate,income_gain_tax,...,unit_inflow,cash_outflow,cash_flow,unit_flow,cash_balance,al_unit,al_balance,al_book_balance,unrealized_gl,rate
time_period,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.180975,0.180975,-0.180975,0.180975,-0.180975,0.180975,0.180975,0.180975,0.0,0.05
1,1.05,-0.180975,0.180975,0.190024,0.180975,0.009049,0.0,0.0,0.0,0.0,...,0.172357,0.180975,-0.180975,0.172357,-0.36195,0.353332,0.370998,0.36195,0.009049,0.05
2,1.1025,-0.36195,0.353332,0.389548,0.36195,0.027599,0.0,0.0,0.0,0.0,...,0.164149,0.180975,-0.180975,0.164149,-0.542924,0.517481,0.570523,0.542924,0.027599,0.05
3,1.157625,-0.542924,0.517481,0.599049,0.542924,0.056125,0.0,0.0,0.0,0.0,...,0.156333,0.180975,-0.180975,0.156333,-0.723899,0.673814,0.780024,0.723899,0.056125,0.05
4,1.215506,-0.723899,0.673814,0.819025,0.723899,0.095126,0.0,0.0,0.0,0.0,...,0.148888,0.180975,-0.180975,0.148888,-0.904874,0.822702,1.0,0.904874,0.095126,0.05

## 資本回収係数

In [18]:
rate = 0.05
time_period = 5
amount = 1

In [19]:
InterestFactor(
    rate=rate, 
    time_period=time_period, 
    amount=amount
).calculate_capital_recovery()

0.23097479812826793

In [20]:
AssetLiabilitySimulator(
    initial_cash_balance = 0,
    initial_al_balance = 0,
    initial_al_book_balance = 0,
    initial_price = 1,
    rate = rate,
    cash_inflow_per_unit = 0,
    capital_cash_inflow_before_tax = [0] + [InterestFactor(rate=rate, time_period=time_period, amount=amount).calculate_capital_recovery()] * time_period,
    cash_outflow = 1,
    income_gain_tax_rate = 0,
    capital_gain_tax_rate = 0,
).simulate(n_periods=time_period+1)

,price,pre_cash_balance,pre_al_unit,pre_al_balance,pre_al_book_balance,pre_unrealized_gl,cash_inflow_per_unit,income_cash_inflow_before_tax,income_gain_tax_rate,income_gain_tax,...,unit_inflow,cash_outflow,cash_flow,unit_flow,cash_balance,al_unit,al_balance,al_book_balance,unrealized_gl,rate
time_period,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,-1.0,1.0,-1.0,1.0,1.0,1.0,0.0,0.05
1,1.05,-1.0,1.0,1.05,1.0,0.05,0.0,0.0,0.0,0.0,...,0.0,0.0,0.230975,-0.219976,-0.769025,0.780024,0.819025,0.780024,0.039001,0.05
2,1.1025,-0.769025,0.780024,0.859976,0.780024,0.079952,0.0,0.0,0.0,0.0,...,0.0,0.0,0.230975,-0.209501,-0.53805,0.570523,0.629002,0.570523,0.058479,0.05
3,1.157625,-0.53805,0.570523,0.660452,0.570523,0.089929,0.0,0.0,0.0,0.0,...,0.0,0.0,0.230975,-0.199525,-0.307076,0.370998,0.429477,0.370998,0.058479,0.05
4,1.215506,-0.307076,0.370998,0.450951,0.370998,0.079952,0.0,0.0,0.0,0.0,...,0.0,0.0,0.230975,-0.190024,-0.076101,0.180975,0.219976,0.180975,0.039001,0.05
5,1.276282,-0.076101,0.180975,0.230975,0.180975,0.05,0.0,0.0,0.0,0.0,...,0.0,0.0,0.230975,-0.180975,0.154874,0.0,0.0,0.0,0.0,0.05

In [21]:
al_schema = AssetLiabilitySchema(
    price=1,
    unit=0,
    balance=0,
    book_balance=0,
    cashinflow_per_unit=0,
    rate=rate,
)
AssetLiabilitySimulator(
    al_schema=al_schema,
    initial_cash_balance = 0,
    capital_cash_inflow_before_tax =  [0] + [InterestFactor(rate=rate, time_period=time_period, amount=amount).calculate_capital_recovery()] * time_period,
    cash_outflow = 1,
    income_gain_tax_rate = 0,
    capital_gain_tax_rate = 0,
).simulate(n_periods=time_period+1)

,price,pre_cash_balance,pre_al_unit,pre_al_balance,pre_al_book_balance,pre_unrealized_gl,cash_inflow_per_unit,income_cash_inflow_before_tax,income_gain_tax_rate,income_gain_tax,...,unit_inflow,cash_outflow,cash_flow,unit_flow,cash_balance,al_unit,al_balance,al_book_balance,unrealized_gl,rate
time_period,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,-1.0,1.0,-1.0,1.0,1.0,1.0,0.0,0.05
1,1.05,-1.0,1.0,1.05,1.0,0.05,0.0,0.0,0.0,0.0,...,0.0,0.0,0.230975,-0.219976,-0.769025,0.780024,0.819025,0.780024,0.039001,0.05
2,1.1025,-0.769025,0.780024,0.859976,0.780024,0.079952,0.0,0.0,0.0,0.0,...,0.0,0.0,0.230975,-0.209501,-0.53805,0.570523,0.629002,0.570523,0.058479,0.05
3,1.157625,-0.53805,0.570523,0.660452,0.570523,0.089929,0.0,0.0,0.0,0.0,...,0.0,0.0,0.230975,-0.199525,-0.307076,0.370998,0.429477,0.370998,0.058479,0.05
4,1.215506,-0.307076,0.370998,0.450951,0.370998,0.079952,0.0,0.0,0.0,0.0,...,0.0,0.0,0.230975,-0.190024,-0.076101,0.180975,0.219976,0.180975,0.039001,0.05
5,1.276282,-0.076101,0.180975,0.230975,0.180975,0.05,0.0,0.0,0.0,0.0,...,0.0,0.0,0.230975,-0.180975,0.154874,0.0,0.0,0.0,0.0,0.05

## 年金現価係数

In [22]:
rate = 0.05
time_period = 5
amount = 1

In [23]:
InterestFactor(
    rate=rate, 
    time_period=time_period, 
    amount=amount
).calculate_present_value_of_annuity()

4.329476670630823

In [24]:
AssetLiabilitySimulator(
    initial_cash_balance = 0,
    initial_al_balance = 0,
    initial_al_book_balance = 0,
    initial_price = 1,
    rate = rate,
    cash_inflow_per_unit = 0,
    capital_cash_inflow_before_tax = [0] + [1] * time_period,
    cash_outflow = InterestFactor(rate=rate, time_period=time_period, amount=amount).calculate_present_value_of_annuity(),
    income_gain_tax_rate = 0,
    capital_gain_tax_rate = 0,
).simulate(n_periods=time_period+1)

,price,pre_cash_balance,pre_al_unit,pre_al_balance,pre_al_book_balance,pre_unrealized_gl,cash_inflow_per_unit,income_cash_inflow_before_tax,income_gain_tax_rate,income_gain_tax,...,unit_inflow,cash_outflow,cash_flow,unit_flow,cash_balance,al_unit,al_balance,al_book_balance,unrealized_gl,rate
time_period,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.329477,4.329477,-4.329477,4.329477,-4.329477,4.329477,4.329477,4.329477,0.0,0.05
1,1.05,-4.329477,4.329477,4.545951,4.329477,0.216474,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,-0.952381,-3.329477,3.377096,3.545951,3.377096,0.168855,0.05
2,1.1025,-3.329477,3.377096,3.723248,3.377096,0.346152,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,-0.907029,-2.329477,2.470066,2.723248,2.470066,0.253182,0.05
3,1.157625,-2.329477,2.470066,2.85941,2.470066,0.389344,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,-0.863838,-1.329477,1.606229,1.85941,1.606229,0.253182,0.05
4,1.215506,-1.329477,1.606229,1.952381,1.606229,0.346152,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,-0.822702,-0.329477,0.783526,0.952381,0.783526,0.168855,0.05
5,1.276282,-0.329477,0.783526,1.0,0.783526,0.216474,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,-0.783526,0.670523,0.0,0.0,0.0,0.0,0.05

In [25]:
al_schema = AssetLiabilitySchema(
    price=1,
    unit=0,
    balance=0,
    book_balance=0,
    cashinflow_per_unit=0,
    rate=rate,
)
AssetLiabilitySimulator(
    al_schema=al_schema,
    initial_cash_balance = 0,
    capital_cash_inflow_before_tax = [0] + [1] * time_period,
    cash_outflow = InterestFactor(rate=rate, time_period=time_period, amount=amount).calculate_present_value_of_annuity(),
    income_gain_tax_rate = 0,
    capital_gain_tax_rate = 0,
).simulate(n_periods=time_period+1)

,price,pre_cash_balance,pre_al_unit,pre_al_balance,pre_al_book_balance,pre_unrealized_gl,cash_inflow_per_unit,income_cash_inflow_before_tax,income_gain_tax_rate,income_gain_tax,...,unit_inflow,cash_outflow,cash_flow,unit_flow,cash_balance,al_unit,al_balance,al_book_balance,unrealized_gl,rate
time_period,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.329477,4.329477,-4.329477,4.329477,-4.329477,4.329477,4.329477,4.329477,0.0,0.05
1,1.05,-4.329477,4.329477,4.545951,4.329477,0.216474,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,-0.952381,-3.329477,3.377096,3.545951,3.377096,0.168855,0.05
2,1.1025,-3.329477,3.377096,3.723248,3.377096,0.346152,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,-0.907029,-2.329477,2.470066,2.723248,2.470066,0.253182,0.05
3,1.157625,-2.329477,2.470066,2.85941,2.470066,0.389344,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,-0.863838,-1.329477,1.606229,1.85941,1.606229,0.253182,0.05
4,1.215506,-1.329477,1.606229,1.952381,1.606229,0.346152,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,-0.822702,-0.329477,0.783526,0.952381,0.783526,0.168855,0.05
5,1.276282,-0.329477,0.783526,1.0,0.783526,0.216474,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,-0.783526,0.670523,0.0,0.0,0.0,0.0,0.05