# ライフサイクル投資シミュレーション

In [1]:
import pandas as pd

import sys
sys.path.append('..')

from fpyjp.core.balance_simulator import LifecycleInvestSimulator

In [11]:
# シンプルなケース
simulator = LifecycleInvestSimulator(
    contribution_amount=10000, 
    rate=0.05,  # 5% annual return across all phases
    # Period-based specification
    accumulation_periods=2,
    hold_periods=1,
    decumulation_periods=1,
    initial_cash_balance=0,
    initial_price=1.0,
)
results = simulator.simulate()
results.T

time_period,0,1,2,3
price,1.0,1.05,1.1025,1.157625
pre_cash_balance,0.0,-10000.0,-20000.0,-20000.0
pre_al_unit,0.0,10000.0,19523.809524,19523.809524
pre_al_balance,0.0,10500.0,21525.0,22601.25
pre_al_book_balance,0.0,10000.0,20000.0,20000.0
pre_unrealized_gl,0.0,500.0,1525.0,2601.25
cash_inflow_per_unit,0.0,0.0,0.0,0.0
income_cash_inflow_before_tax,0.0,0.0,0.0,0.0
income_gain_tax_rate,0.0,0.0,0.0,0.0
income_gain_tax,0.0,0.0,0.0,0.0
income_cash_inflow,0.0,0.0,0.0,0.0
unit_outflow,0.0,0.0,0.0,19523.809524
capital_cash_inflow_before_tax,0.0,0.0,0.0,22601.25
capital_gain_tax_rate,0.0,0.0,0.0,0.0
capital_gain_tax,0.0,0.0,0.0,0.0
capital_cash_inflow,0.0,0.0,0.0,22601.25
cash_inflow,0.0,0.0,0.0,22601.25
unit_inflow,10000.0,9523.809524,0.0,0.0
cash_outflow,10000.0,10000.0,0.0,0.0
cash_flow,-10000.0,-10000.0,0.0,22601.25
unit_flow,10000.0,9523.809524,0.0,-19523.809524
cash_balance,-10000.0,-20000.0,-20000.0,2601.25
al_unit,10000.0,19523.809524,19523.809524,0.0
al_balance,10000.0,20500.0,21525.0,0.0
al_book_balance,10000.0,20000.0,20000.0,0.0
unrealized_gl,0.0,500.0,1525.0,0.0
rate,0.05,0.05,0.05,0.05

In [3]:
# 20-year accumulation, 10-year hold, 15-year decumulation
simulator = LifecycleInvestSimulator(
    contribution_amount=10000, 
    rate=0.05,  # 5% annual return across all phases
    
    # Period-based specification
    accumulation_periods=5,
    hold_periods=2,
    decumulation_periods=3,
    
    # Initial settings
    initial_cash_balance=0,
    initial_price=1.0,
)

# Run simulation
results = simulator.simulate()
results.T

time_period,0,1,2,3,4,5,6,7,8,9
price,1.0,1.05,1.1025,1.157625,1.215506,1.276282,1.340096,1.477455,1.551328,1.628895
pre_cash_balance,0.0,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-50000.0,-113966.088758,-90477.19312,-66988.297482
pre_al_unit,0.0,10000.0,19523.809524,28594.104308,37232.480294,45459.505042,45459.505042,45459.505042,29561.295903,14420.144343
pre_al_balance,0.0,10500.0,21525.0,33101.25,45256.3125,58019.128125,60920.084531,67164.393196,45859.272436,23488.895638
pre_al_book_balance,0.0,10000.0,20000.0,30000.0,40000.0,50000.0,50000.0,63966.088758,41595.71196,20290.5912
pre_unrealized_gl,0.0,500.0,1525.0,3101.25,5256.3125,8019.128125,10920.084531,3198.304438,4263.560476,3198.304438
cash_inflow_per_unit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unit_outflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15898.209138,15141.15156,14420.144343
capital_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23488.895638,23488.895638,23488.895638
capital_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23488.895638,23488.895638,23488.895638
cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23488.895638,23488.895638,23488.895638
unit_inflow,10000.0,9523.809524,9070.294785,8638.375985,8227.024748,0.0,0.0,0.0,0.0,0.0
cash_outflow,10000.0,10000.0,10000.0,10000.0,10000.0,0.0,0.0,0.0,0.0,0.0
cash_flow,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0,0.0,0.0,23488.895638,23488.895638,23488.895638
unit_flow,10000.0,9523.809524,9070.294785,8638.375985,8227.024748,0.0,0.0,-15898.209138,-15141.15156,-14420.144343
cash_balance,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-50000.0,-50000.0,-90477.19312,-66988.297482,-43499.401844
al_unit,10000.0,19523.809524,28594.104308,37232.480294,45459.505042,45459.505042,45459.505042,29561.295903,14420.144343,0.0
al_balance,10000.0,20500.0,31525.0,43101.25,55256.3125,58019.128125,60920.084531,43675.497558,22370.376798,0.0
al_book_balance,10000.0,20000.0,30000.0,40000.0,50000.0,50000.0,50000.0,41595.71196,20290.5912,0.0
unrealized_gl,0.0,500.0,1525.0,3101.25,5256.3125,8019.128125,10920.084531,2079.785598,2079.785598,0.0
rate,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05

In [4]:
# Different rates for each phase
simulator = LifecycleInvestSimulator(
    contribution_amount=10000,
    
    # Different rates for each phase
    rate_during_accumulation=0.07,  # Higher growth during accumulation
    rate_during_hold=0.05,          # Moderate growth during hold
    rate_during_decumulation=0.03,  # Conservative during decumulation
    
    # Period-based specification
    accumulation_periods=5,
    hold_periods=2,
    decumulation_periods=3,
)

results = simulator.simulate()
results.T

time_period,0,1,2,3,4,5,6,7,8,9
price,1.0,1.07,1.1449,1.225043,1.310796,1.402552,1.472679,1.592703,1.640484,1.689698
pre_cash_balance,0.0,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-50000.0,-117840.030416,-93856.519815,-69873.009214
pre_al_unit,0.0,10000.0,19345.794393,28080.181675,36243.160444,43872.112565,43872.112565,43872.112565,28813.739851,14193.960518
pre_al_balance,0.0,10700.0,22149.0,34399.43,47507.3901,61532.907407,64609.552777,69875.231329,47268.47235,23983.510601
pre_al_book_balance,0.0,10000.0,20000.0,30000.0,40000.0,50000.0,50000.0,67840.030416,44555.068668,21948.309689
pre_unrealized_gl,0.0,700.0,2149.0,4399.43,7507.3901,11532.907407,14609.552777,2035.200912,2713.403682,2035.200912
cash_inflow_per_unit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unit_outflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15058.372713,14619.779333,14193.960518
capital_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23983.510601,23983.510601,23983.510601
capital_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23983.510601,23983.510601,23983.510601
cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23983.510601,23983.510601,23983.510601
unit_inflow,10000.0,9345.794393,8734.387283,8162.978769,7628.95212,0.0,0.0,0.0,0.0,0.0
cash_outflow,10000.0,10000.0,10000.0,10000.0,10000.0,0.0,0.0,0.0,0.0,0.0
cash_flow,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0,0.0,0.0,23983.510601,23983.510601,23983.510601
unit_flow,10000.0,9345.794393,8734.387283,8162.978769,7628.95212,0.0,0.0,-15058.372713,-14619.779333,-14193.960518
cash_balance,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-50000.0,-50000.0,-93856.519815,-69873.009214,-45889.498613
al_unit,10000.0,19345.794393,28080.181675,36243.160444,43872.112565,43872.112565,43872.112565,28813.739851,14193.960518,0.0
al_balance,10000.0,20700.0,32149.0,44399.43,57507.3901,61532.907407,64609.552777,45891.720728,23284.961749,0.0
al_book_balance,10000.0,20000.0,30000.0,40000.0,50000.0,50000.0,50000.0,44555.068668,21948.309689,0.0
unrealized_gl,0.0,700.0,2149.0,4399.43,7507.3901,11532.907407,14609.552777,1336.65206,1336.65206,0.0
rate,0.07,0.07,0.07,0.07,0.07,0.05,0.05,0.03,0.03,0.03

In [5]:
simulator = LifecycleInvestSimulator(
    contribution_amount=10000,
    rate=0.06,  # 6% annual return
    
    # Time-point-based specification
    accumulation_end_period=5,      # Accumulation ends at period 30
    decumulation_start_period=7,    # Decumulation starts at period 40 (10-year hold)
    simulation_end_period=10,        # Simulation ends at period 60 (20-year decumulation)
)

results = simulator.simulate()
results.T

time_period,0,1,2,3,4,5,6,7,8,9
price,1.0,1.06,1.1236,1.191016,1.262477,1.338226,1.418519,1.593848,1.689479,1.790848
pre_cash_balance,0.0,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-50000.0,-117138.679088,-92021.440424,-66904.201759
pre_al_unit,0.0,10000.0,19433.962264,28333.926664,36730.119495,44651.056127,44651.056127,44651.056127,28892.189855,14025.334881
pre_al_balance,0.0,10600.0,21836.0,33746.16,46370.9296,59753.185376,63338.376499,71166.999834,48812.746839,25117.238665
pre_al_book_balance,0.0,10000.0,20000.0,30000.0,40000.0,50000.0,50000.0,67138.679088,43443.170914,21088.917919
pre_unrealized_gl,0.0,600.0,1836.0,3746.16,6370.9296,9753.185376,13338.376499,4028.320745,5369.575925,4028.320745
cash_inflow_per_unit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unit_outflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15758.866272,14866.854974,14025.334881
capital_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25117.238665,25117.238665,25117.238665
capital_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25117.238665,25117.238665,25117.238665
cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25117.238665,25117.238665,25117.238665
unit_inflow,10000.0,9433.962264,8899.9644,8396.19283,7920.936632,0.0,0.0,0.0,0.0,0.0
cash_outflow,10000.0,10000.0,10000.0,10000.0,10000.0,0.0,0.0,0.0,0.0,0.0
cash_flow,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0,0.0,0.0,25117.238665,25117.238665,25117.238665
unit_flow,10000.0,9433.962264,8899.9644,8396.19283,7920.936632,0.0,0.0,-15758.866272,-14866.854974,-14025.334881
cash_balance,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-50000.0,-50000.0,-92021.440424,-66904.201759,-41786.963094
al_unit,10000.0,19433.962264,28333.926664,36730.119495,44651.056127,44651.056127,44651.056127,28892.189855,14025.334881,0.0
al_balance,10000.0,20600.0,31836.0,43746.16,56370.9296,59753.185376,63338.376499,46049.761169,23695.508174,0.0
al_book_balance,10000.0,20000.0,30000.0,40000.0,50000.0,50000.0,50000.0,43443.170914,21088.917919,0.0
unrealized_gl,0.0,600.0,1836.0,3746.16,6370.9296,9753.185376,13338.376499,2606.590255,2606.590255,0.0
rate,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06

In [6]:
# 5 total periods: 2 accumulation + 1 hold + 2 decumulation
rate_schedule = [0.08, 0.06, 0.04, 0.03, 0.02]  # Declining rates over time

simulator = LifecycleInvestSimulator(
    contribution_amount=10000,
    rate=rate_schedule,  # Will be distributed: [0.08,0.06] + [0.04] + [0.03,0.02]
    
    accumulation_periods=2,
    hold_periods=1,
    decumulation_periods=2,
)

results = simulator.simulate()
results.T

time_period,0,1,2,3,4
price,1.0,1.08,1.1448,1.238216,1.275362
pre_cash_balance,0.0,-10000.0,-20000.0,-42929.92,-30946.495306
pre_al_unit,0.0,10000.0,19259.259259,19259.259259,9581.280788
pre_al_balance,0.0,10800.0,22048.0,23847.1168,12219.60287
pre_al_book_balance,0.0,10000.0,20000.0,22929.92,11407.396256
pre_unrealized_gl,0.0,800.0,2048.0,917.1968,812.206613
cash_inflow_per_unit,0.0,0.0,0.0,0.0,0.0
income_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0
income_gain_tax_rate,0.0,0.0,0.0,0.0,0.0
income_gain_tax,0.0,0.0,0.0,0.0,0.0
income_cash_inflow,0.0,0.0,0.0,0.0,0.0
unit_outflow,0.0,0.0,0.0,9677.978471,9396.095603
capital_cash_inflow_before_tax,0.0,0.0,0.0,11983.424694,11983.424694
capital_gain_tax_rate,0.0,0.0,0.0,0.0,0.0
capital_gain_tax,0.0,0.0,0.0,0.0,0.0
capital_cash_inflow,0.0,0.0,0.0,11983.424694,11983.424694
cash_inflow,0.0,0.0,0.0,11983.424694,11983.424694
unit_inflow,10000.0,9259.259259,0.0,0.0,0.0
cash_outflow,10000.0,10000.0,0.0,0.0,0.0
cash_flow,-10000.0,-10000.0,0.0,11983.424694,11983.424694
unit_flow,10000.0,9259.259259,0.0,-9677.978471,-9396.095603
cash_balance,-10000.0,-20000.0,-20000.0,-30946.495306,-18963.070613
al_unit,10000.0,19259.259259,19259.259259,9581.280788,185.185185
al_balance,10000.0,20800.0,22048.0,11863.692106,236.178176
al_book_balance,10000.0,20000.0,20000.0,11407.396256,220.48
unrealized_gl,0.0,800.0,2048.0,456.29585,15.698176
rate,0.08,0.06,0.04,0.03,0.02

In [7]:
# Specify only some phase rates, use fallback for others
simulator = LifecycleInvestSimulator(
    contribution_amount=10000,
    rate=0.05,  # Fallback rate for unspecified phases
    
    # Only specify accumulation and decumulation rates
    rate_during_accumulation=0.08,  # High growth during accumulation
    rate_during_decumulation=0.02,  # Conservative during decumulation
    # rate_during_hold will use fallback rate of 0.05
    
    accumulation_periods=5,
    hold_periods=2,
    decumulation_periods=3,
)

results = simulator.simulate()
results.T

time_period,0,1,2,3,4,5,6,7,8,9
price,1.0,1.08,1.1664,1.259712,1.360489,1.469328,1.542794,1.652333,1.68538,1.719087
pre_cash_balance,0.0,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-50000.0,-119853.617631,-95631.54932,-71409.481009
pre_al_unit,0.0,10000.0,19259.259259,27832.647462,35770.969872,43121.2684,43121.2684,43121.2684,28461.953395,14090.075938
pre_al_balance,0.0,10800.0,22464.0,35061.12,48666.0096,63359.290368,66527.254886,71250.689983,47969.194106,24222.068311
pre_al_book_balance,0.0,10000.0,20000.0,30000.0,40000.0,50000.0,50000.0,69853.617631,46106.491836,22824.995958
pre_unrealized_gl,0.0,800.0,2464.0,5061.12,8666.0096,13359.290368,16527.254886,1397.072353,1862.70227,1397.072353
cash_inflow_per_unit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unit_outflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14659.315006,14371.877457,14090.075938
capital_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24222.068311,24222.068311,24222.068311
capital_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24222.068311,24222.068311,24222.068311
cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24222.068311,24222.068311,24222.068311
unit_inflow,10000.0,9259.259259,8573.388203,7938.32241,7350.298528,0.0,0.0,0.0,0.0,0.0
cash_outflow,10000.0,10000.0,10000.0,10000.0,10000.0,0.0,0.0,0.0,0.0,0.0
cash_flow,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0,0.0,0.0,24222.068311,24222.068311,24222.068311
unit_flow,10000.0,9259.259259,8573.388203,7938.32241,7350.298528,0.0,0.0,-14659.315006,-14371.877457,-14090.075938
cash_balance,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-50000.0,-50000.0,-95631.54932,-71409.481009,-47187.412698
al_unit,10000.0,19259.259259,27832.647462,35770.969872,43121.2684,43121.2684,43121.2684,28461.953395,14090.075938,0.0
al_balance,10000.0,20800.0,32464.0,45061.12,58666.0096,63359.290368,66527.254886,47028.621672,23747.125795,0.0
al_book_balance,10000.0,20000.0,30000.0,40000.0,50000.0,50000.0,50000.0,46106.491836,22824.995958,0.0
unrealized_gl,0.0,800.0,2464.0,5061.12,8666.0096,13359.290368,16527.254886,922.129837,922.129837,0.0
rate,0.08,0.08,0.08,0.08,0.08,0.05,0.05,0.02,0.02,0.02

In [8]:
simulator = LifecycleInvestSimulator(
    contribution_amount=10000,
    rate=0.05,  # Fallback rate for unspecified phases
    
    # Only specify accumulation and decumulation rates
    rate_during_accumulation=0.08,  # High growth during accumulation
    rate_during_decumulation=0.02,  # Conservative during decumulation
    # rate_during_hold will use fallback rate of 0.05
    
    accumulation_periods=5,
    hold_periods=0,
    decumulation_periods=3,
)

results = simulator.simulate()
results.T

time_period,0,1,2,3,4,5,6,7
price,1.0,1.08,1.1664,1.259712,1.360489,1.498715,1.528689,1.559263
pre_cash_balance,0.0,-10000.0,-20000.0,-30000.0,-40000.0,-113359.290368,-91389.160381,-69419.030394
pre_al_unit,0.0,10000.0,19259.259259,27832.647462,35770.969872,43121.2684,28461.953395,14090.075938
pre_al_balance,0.0,10800.0,22464.0,35061.12,48666.0096,64626.476175,43509.473112,21970.129987
pre_al_book_balance,0.0,10000.0,20000.0,30000.0,40000.0,63359.290368,41819.947243,20702.94418
pre_unrealized_gl,0.0,800.0,2464.0,5061.12,8666.0096,1267.185807,1689.525869,1267.185807
cash_inflow_per_unit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unit_outflow,0.0,0.0,0.0,0.0,0.0,14659.315006,14371.877457,14090.075938
capital_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,21970.129987,21970.129987,21970.129987
capital_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_cash_inflow,0.0,0.0,0.0,0.0,0.0,21970.129987,21970.129987,21970.129987
cash_inflow,0.0,0.0,0.0,0.0,0.0,21970.129987,21970.129987,21970.129987
unit_inflow,10000.0,9259.259259,8573.388203,7938.32241,7350.298528,0.0,0.0,0.0
cash_outflow,10000.0,10000.0,10000.0,10000.0,10000.0,0.0,0.0,0.0
cash_flow,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0,21970.129987,21970.129987,21970.129987
unit_flow,10000.0,9259.259259,8573.388203,7938.32241,7350.298528,-14659.315006,-14371.877457,-14090.075938
cash_balance,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-91389.160381,-69419.030394,-47448.900406
al_unit,10000.0,19259.259259,27832.647462,35770.969872,43121.2684,28461.953395,14090.075938,0.0
al_balance,10000.0,20800.0,32464.0,45061.12,58666.0096,42656.346188,21539.343125,0.0
al_book_balance,10000.0,20000.0,30000.0,40000.0,50000.0,41819.947243,20702.94418,0.0
unrealized_gl,0.0,800.0,2464.0,5061.12,8666.0096,836.398945,836.398945,0.0
rate,0.08,0.08,0.08,0.08,0.08,0.02,0.02,0.02

In [9]:
simulator = LifecycleInvestSimulator(
    contribution_amount=10000,
    rate=0.06,  # 6% annual return
    
    # Time-point-based specification
    accumulation_end_period=5,      # Accumulation ends at period 30
    decumulation_start_period=5,    # Decumulation starts at period 40 (10-year hold)
    simulation_end_period=8,        # Simulation ends at period 60 (20-year decumulation)
)

results = simulator.simulate()
results.T

time_period,0,1,2,3,4,5,6,7
price,1.0,1.06,1.1236,1.191016,1.262477,1.418519,1.50363,1.593848
pre_cash_balance,0.0,-10000.0,-20000.0,-30000.0,-40000.0,-109753.185376,-87398.932381,-65044.679387
pre_al_unit,0.0,10000.0,19433.962264,28333.926664,36730.119495,44651.056127,28892.189855,14025.334881
pre_al_balance,0.0,10600.0,21836.0,33746.16,46370.9296,63338.376499,43443.170914,22354.252995
pre_al_book_balance,0.0,10000.0,20000.0,30000.0,40000.0,59753.185376,38664.267457,18769.061872
pre_unrealized_gl,0.0,600.0,1836.0,3746.16,6370.9296,3585.191123,4778.903458,3585.191123
cash_inflow_per_unit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unit_outflow,0.0,0.0,0.0,0.0,0.0,15758.866272,14866.854974,14025.334881
capital_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,22354.252995,22354.252995,22354.252995
capital_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_cash_inflow,0.0,0.0,0.0,0.0,0.0,22354.252995,22354.252995,22354.252995
cash_inflow,0.0,0.0,0.0,0.0,0.0,22354.252995,22354.252995,22354.252995
unit_inflow,10000.0,9433.962264,8899.9644,8396.19283,7920.936632,0.0,0.0,0.0
cash_outflow,10000.0,10000.0,10000.0,10000.0,10000.0,0.0,0.0,0.0
cash_flow,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0,22354.252995,22354.252995,22354.252995
unit_flow,10000.0,9433.962264,8899.9644,8396.19283,7920.936632,-15758.866272,-14866.854974,-14025.334881
cash_balance,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-87398.932381,-65044.679387,-42690.426392
al_unit,10000.0,19433.962264,28333.926664,36730.119495,44651.056127,28892.189855,14025.334881,0.0
al_balance,10000.0,20600.0,31836.0,43746.16,56370.9296,40984.123504,21088.917919,0.0
al_book_balance,10000.0,20000.0,30000.0,40000.0,50000.0,38664.267457,18769.061872,0.0
unrealized_gl,0.0,600.0,1836.0,3746.16,6370.9296,2319.856047,2319.856047,0.0
rate,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06

In [10]:
simulator = LifecycleInvestSimulator(
            contribution_amount=10000,
            rate=0.05,
            accumulation_periods=2,
            hold_periods=1,
            decumulation_periods=1,
        )
print(str(simulator.simulate().to_csv()))

time_period,price,pre_cash_balance,pre_al_unit,pre_al_balance,pre_al_book_balance,pre_unrealized_gl,cash_inflow_per_unit,income_cash_inflow_before_tax,income_gain_tax_rate,income_gain_tax,income_cash_inflow,unit_outflow,capital_cash_inflow_before_tax,capital_gain_tax_rate,capital_gain_tax,capital_cash_inflow,cash_inflow,unit_inflow,cash_outflow,cash_flow,unit_flow,cash_balance,al_unit,al_balance,al_book_balance,unrealized_gl,rate
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10000.0,10000.0,-10000.0,10000.0,-10000.0,10000.0,10000.0,10000.0,0.0,0.05
1,1.05,-10000.0,10000.0,10500.0,10000.0,500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9523.809523809523,10000.0,-10000.0,9523.809523809523,-20000.0,19523.809523809523,20500.0,20000.0,500.0,0.05
2,1.1025,-20000.0,19523.809523809523,21525.0,20000.0,1525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-20000.0,19523.809523809523,21525.0,20000.0,1525.0,0.05
3,1.1576250000000001,-20000.0,19523.809523809523,22601.25,20000.0,2601.25,0.0,0.0,0.0,0.0,0.0,19523.809523809523,22601.25,0.0,0.0,22601.25,22601.25,0.0,0.0,22601.25,-19523.809523809523,2601.25,0.0,0.0,0.0,0.0,0.05