# ライフサイクル投資シミュレーション

In [1]:
import pandas as pd

import sys
sys.path.append('..')

from fpyjp.core.balance_simulator import LifecycleInvestmentSimulator

In [2]:
# 20-year accumulation, 10-year hold, 15-year decumulation
simulator = LifecycleInvestmentSimulator(
    contribution_amount=10000, 
    rate=0.05,  # 5% annual return across all phases
    
    # Period-based specification
    accumulation_periods=5,
    hold_periods=2,
    decumulation_periods=3,
    
    # Initial settings
    initial_cash_balance=0,
    initial_price=1.0,
)

# Run simulation
results = simulator.simulate()
results.T

time_period,0,1,2,3,4,5,6,7,8,9
price,1.0,1.05,1.1025,1.157625,1.215506,1.276282,1.340096,1.4071,1.477455,1.551328
pre_cash_balance,0.0,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-50000.0,-50000.0,-27629.623202,-5259.246404
pre_al_unit,0.0,10000.0,19523.809524,28594.104308,37232.480294,45459.505042,45459.505042,45459.505042,29561.295903,14420.144343
pre_al_balance,0.0,10500.0,21525.0,33101.25,45256.3125,58019.128125,60920.084531,63966.088758,43675.497558,22370.376798
pre_al_book_balance,0.0,10000.0,20000.0,30000.0,40000.0,50000.0,50000.0,50000.0,32513.877875,15860.428232
pre_unrealized_gl,0.0,500.0,1525.0,3101.25,5256.3125,8019.128125,10920.084531,13966.088758,11161.619683,6509.948566
cash_inflow_per_unit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unit_outflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15898.209138,15141.15156,14420.144343
capital_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22370.376798,22370.376798,22370.376798
capital_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22370.376798,22370.376798,22370.376798
cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22370.376798,22370.376798,22370.376798
unit_inflow,10000.0,9523.809524,9070.294785,8638.375985,8227.024748,0.0,0.0,0.0,0.0,0.0
cash_outflow,10000.0,10000.0,10000.0,10000.0,10000.0,0.0,0.0,0.0,0.0,0.0
cash_flow,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0,0.0,0.0,22370.376798,22370.376798,22370.376798
unit_flow,10000.0,9523.809524,9070.294785,8638.375985,8227.024748,0.0,0.0,-15898.209138,-15141.15156,-14420.144343
cash_balance,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-50000.0,-50000.0,-27629.623202,-5259.246404,17111.130394
al_unit,10000.0,19523.809524,28594.104308,37232.480294,45459.505042,45459.505042,45459.505042,29561.295903,14420.144343,0.0
al_balance,10000.0,20500.0,31525.0,43101.25,55256.3125,58019.128125,60920.084531,41595.71196,21305.12076,0.0
al_book_balance,10000.0,20000.0,30000.0,40000.0,50000.0,50000.0,50000.0,32513.877875,15860.428232,0.0
unrealized_gl,0.0,500.0,1525.0,3101.25,5256.3125,8019.128125,10920.084531,9081.834085,5444.692528,0.0
rate,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05

In [3]:
# Different rates for each phase
simulator = LifecycleInvestmentSimulator(
    contribution_amount=10000,
    
    # Different rates for each phase
    rate_during_accumulation=0.07,  # Higher growth during accumulation
    rate_during_hold=0.05,          # Moderate growth during hold
    rate_during_decumulation=0.03,  # Conservative during decumulation
    
    # Period-based specification
    accumulation_periods=5,
    hold_periods=2,
    decumulation_periods=3,
)

results = simulator.simulate()
results.T

time_period,0,1,2,3,4,5,6,7,8,9
price,1.0,1.07,1.1449,1.225043,1.310796,1.376336,1.445153,1.488507,1.533162,1.579157
pre_cash_balance,0.0,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-50000.0,-50000.0,-27585.504111,-5171.008222
pre_al_unit,0.0,10000.0,19345.794393,28080.181675,36243.160444,43872.112565,43872.112565,43872.112565,28813.739851,14193.960518
pre_al_balance,0.0,10700.0,22149.0,34399.43,47507.3901,60382.759605,63401.897585,65303.954513,44176.142383,22414.495889
pre_al_book_balance,0.0,10000.0,20000.0,30000.0,40000.0,50000.0,50000.0,50000.0,32838.331877,16176.518166
pre_unrealized_gl,0.0,700.0,2149.0,4399.43,7507.3901,10382.759605,13401.897585,15303.954513,11337.810505,6237.977723
cash_inflow_per_unit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unit_outflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15058.372713,14619.779333,14193.960518
capital_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22414.495889,22414.495889,22414.495889
capital_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22414.495889,22414.495889,22414.495889
cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22414.495889,22414.495889,22414.495889
unit_inflow,10000.0,9345.794393,8734.387283,8162.978769,7628.95212,0.0,0.0,0.0,0.0,0.0
cash_outflow,10000.0,10000.0,10000.0,10000.0,10000.0,0.0,0.0,0.0,0.0,0.0
cash_flow,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0,0.0,0.0,22414.495889,22414.495889,22414.495889
unit_flow,10000.0,9345.794393,8734.387283,8162.978769,7628.95212,0.0,0.0,-15058.372713,-14619.779333,-14193.960518
cash_balance,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-50000.0,-50000.0,-27585.504111,-5171.008222,17243.487666
al_unit,10000.0,19345.794393,28080.181675,36243.160444,43872.112565,43872.112565,43872.112565,28813.739851,14193.960518,-0.0
al_balance,10000.0,20700.0,32149.0,44399.43,57507.3901,60382.759605,63401.897585,42889.458624,21761.646494,-0.0
al_book_balance,10000.0,20000.0,30000.0,40000.0,50000.0,50000.0,50000.0,32838.331877,16176.518166,-0.0
unrealized_gl,0.0,700.0,2149.0,4399.43,7507.3901,10382.759605,13401.897585,10051.126747,5585.128328,-0.0
rate,0.07,0.07,0.07,0.07,0.07,0.05,0.05,0.03,0.03,0.03

In [4]:
simulator = LifecycleInvestmentSimulator(
    contribution_amount=10000,
    rate=0.06,  # 6% annual return
    
    # Time-point-based specification
    accumulation_end_period=5,      # Accumulation ends at period 30
    decumulation_start_period=7,    # Decumulation starts at period 40 (10-year hold)
    simulation_end_period=10,        # Simulation ends at period 60 (20-year decumulation)
)

results = simulator.simulate()
results.T

time_period,0,1,2,3,4,5,6,7,8,9
price,1.0,1.06,1.1236,1.191016,1.262477,1.338226,1.418519,1.50363,1.593848,1.689479
pre_cash_balance,0.0,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-50000.0,-50000.0,-26304.491826,-2608.983651
pre_al_unit,0.0,10000.0,19433.962264,28333.926664,36730.119495,44651.056127,44651.056127,44651.056127,28892.189855,14025.334881
pre_al_balance,0.0,10600.0,21836.0,33746.16,46370.9296,59753.185376,63338.376499,67138.679088,46049.761169,23695.508174
pre_al_book_balance,0.0,10000.0,20000.0,30000.0,40000.0,50000.0,50000.0,50000.0,32353.310717,15705.49064
pre_unrealized_gl,0.0,600.0,1836.0,3746.16,6370.9296,9753.185376,13338.376499,17138.679088,13696.450452,7990.017535
cash_inflow_per_unit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unit_outflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15758.866272,14866.854974,14025.334881
capital_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23695.508174,23695.508174,23695.508174
capital_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23695.508174,23695.508174,23695.508174
cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23695.508174,23695.508174,23695.508174
unit_inflow,10000.0,9433.962264,8899.9644,8396.19283,7920.936632,0.0,0.0,0.0,0.0,0.0
cash_outflow,10000.0,10000.0,10000.0,10000.0,10000.0,0.0,0.0,0.0,0.0,0.0
cash_flow,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0,0.0,0.0,23695.508174,23695.508174,23695.508174
unit_flow,10000.0,9433.962264,8899.9644,8396.19283,7920.936632,0.0,0.0,-15758.866272,-14866.854974,-14025.334881
cash_balance,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-50000.0,-50000.0,-26304.491826,-2608.983651,21086.524523
al_unit,10000.0,19433.962264,28333.926664,36730.119495,44651.056127,44651.056127,44651.056127,28892.189855,14025.334881,0.0
al_balance,10000.0,20600.0,31836.0,43746.16,56370.9296,59753.185376,63338.376499,43443.170914,22354.252995,0.0
al_book_balance,10000.0,20000.0,30000.0,40000.0,50000.0,50000.0,50000.0,32353.310717,15705.49064,0.0
unrealized_gl,0.0,600.0,1836.0,3746.16,6370.9296,9753.185376,13338.376499,11089.860197,6648.762355,0.0
rate,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06,0.06

In [5]:
# 5 total periods: 2 accumulation + 1 hold + 2 decumulation
rate_schedule = [0.08, 0.06, 0.04, 0.03, 0.02]  # Declining rates over time

simulator = LifecycleInvestmentSimulator(
    contribution_amount=10000,
    rate=rate_schedule,  # Will be distributed: [0.08,0.06] + [0.04] + [0.03,0.02]
    
    accumulation_periods=2,
    hold_periods=1,
    decumulation_periods=2,
)

results = simulator.simulate()
results.T

time_period,0,1,2,3,4
price,1.0,1.08,1.1232,1.156896,1.191603
pre_cash_balance,0.0,-10000.0,-20000.0,-20000.0,-8694.882365
pre_al_unit,0.0,10000.0,19259.259259,19259.259259,9487.319832
pre_al_balance,0.0,10800.0,21632.0,22280.96,11305.117635
pre_al_book_balance,0.0,10000.0,20000.0,20000.0,9852.216749
pre_unrealized_gl,0.0,800.0,1632.0,2280.96,1452.900887
cash_inflow_per_unit,0.0,0.0,0.0,0.0,0.0
income_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0
income_gain_tax_rate,0.0,0.0,0.0,0.0,0.0
income_gain_tax,0.0,0.0,0.0,0.0,0.0
income_cash_inflow,0.0,0.0,0.0,0.0,0.0
unit_outflow,0.0,0.0,0.0,9771.939427,9487.319832
capital_cash_inflow_before_tax,0.0,0.0,0.0,11305.117635,11305.117635
capital_gain_tax_rate,0.0,0.0,0.0,0.0,0.0
capital_gain_tax,0.0,0.0,0.0,0.0,0.0
capital_cash_inflow,0.0,0.0,0.0,11305.117635,11305.117635
cash_inflow,0.0,0.0,0.0,11305.117635,11305.117635
unit_inflow,10000.0,9259.259259,0.0,0.0,0.0
cash_outflow,10000.0,10000.0,0.0,0.0,0.0
cash_flow,-10000.0,-10000.0,0.0,11305.117635,11305.117635
unit_flow,10000.0,9259.259259,0.0,-9771.939427,-9487.319832
cash_balance,-10000.0,-20000.0,-20000.0,-8694.882365,2610.235271
al_unit,10000.0,19259.259259,19259.259259,9487.319832,-0.0
al_balance,10000.0,20800.0,21632.0,10975.842365,-0.0
al_book_balance,10000.0,20000.0,20000.0,9852.216749,-0.0
unrealized_gl,0.0,800.0,1632.0,1123.625616,-0.0
rate,0.08,0.06,0.04,0.03,0.02

In [6]:
# Specify only some phase rates, use fallback for others
simulator = LifecycleInvestmentSimulator(
    contribution_amount=10000,
    rate=0.05,  # Fallback rate for unspecified phases
    
    # Only specify accumulation and decumulation rates
    rate_during_accumulation=0.08,  # High growth during accumulation
    rate_during_decumulation=0.02,  # Conservative during decumulation
    # rate_during_hold will use fallback rate of 0.05
    
    accumulation_periods=5,
    hold_periods=2,
    decumulation_periods=3,
)

results = simulator.simulate()
results.T

time_period,0,1,2,3,4,5,6,7,8,9
price,1.0,1.08,1.1664,1.259712,1.360489,1.428513,1.499939,1.529938,1.560537,1.591747
pre_cash_balance,0.0,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-50000.0,-50000.0,-27572.158971,-5144.317943
pre_al_unit,0.0,10000.0,19259.259259,27832.647462,35770.969872,43121.2684,43121.2684,43121.2684,28461.953395,14090.075938
pre_al_balance,0.0,10800.0,22464.0,35061.12,48666.0096,61599.31008,64679.275584,65972.861096,44415.920468,22427.841029
pre_al_book_balance,0.0,10000.0,20000.0,30000.0,40000.0,50000.0,50000.0,50000.0,33002.221932,16337.73363
pre_unrealized_gl,0.0,800.0,2464.0,5061.12,8666.0096,11599.31008,14679.275584,15972.861096,11413.698537,6090.107399
cash_inflow_per_unit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
income_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unit_outflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14659.315006,14371.877457,14090.075938
capital_cash_inflow_before_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22427.841029,22427.841029,22427.841029
capital_gain_tax_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_gain_tax,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
capital_cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22427.841029,22427.841029,22427.841029
cash_inflow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22427.841029,22427.841029,22427.841029
unit_inflow,10000.0,9259.259259,8573.388203,7938.32241,7350.298528,0.0,0.0,0.0,0.0,0.0
cash_outflow,10000.0,10000.0,10000.0,10000.0,10000.0,0.0,0.0,0.0,0.0,0.0
cash_flow,-10000.0,-10000.0,-10000.0,-10000.0,-10000.0,0.0,0.0,22427.841029,22427.841029,22427.841029
unit_flow,10000.0,9259.259259,8573.388203,7938.32241,7350.298528,0.0,0.0,-14659.315006,-14371.877457,-14090.075938
cash_balance,-10000.0,-20000.0,-30000.0,-40000.0,-50000.0,-50000.0,-50000.0,-27572.158971,-5144.317943,17283.523086
al_unit,10000.0,19259.259259,27832.647462,35770.969872,43121.2684,43121.2684,43121.2684,28461.953395,14090.075938,0.0
al_balance,10000.0,20800.0,32464.0,45061.12,58666.0096,61599.31008,64679.275584,43545.020067,21988.07944,0.0
al_book_balance,10000.0,20000.0,30000.0,40000.0,50000.0,50000.0,50000.0,33002.221932,16337.73363,0.0
unrealized_gl,0.0,800.0,2464.0,5061.12,8666.0096,11599.31008,14679.275584,10542.798135,5650.34581,0.0
rate,0.08,0.08,0.08,0.08,0.08,0.05,0.05,0.02,0.02,0.02

In [4]:
mock_accumulation_df = pd.DataFrame({
    'price': [1.0, 1.05],
    'cash_balance': [-10000, -20000],
    'al_unit': [10000, 19048],
    'al_balance': [10000, 20000.4],  # 1.05 * 19048 = 20000.4
    'al_book_balance': [10000, 20000],
}, index=[0, 1])

mock_hold_df = pd.DataFrame({
    'price': [1.1025],
    'cash_balance': [-20000],
    'al_unit': [19048],
    'al_balance': [21000.54],  # 1.1025 * 19048 = 21000.54
    'al_book_balance': [20000],
}, index=[0])

mock_decumulation_df = pd.DataFrame({
    'price': [1.157625],
    'cash_balance': [0],
    'al_unit': [0],
    'al_balance': [0],
    'al_book_balance': [0],
}, index=[0])

simulator = LifecycleInvestmentSimulator(
    contribution_amount=10000,
    rate=0.05,
    accumulation_periods=2,
    hold_periods=1,
    decumulation_periods=1,
)

result = simulator.simulate()
print(str(result.to_csv()))

time_period,price,pre_cash_balance,pre_al_unit,pre_al_balance,pre_al_book_balance,pre_unrealized_gl,cash_inflow_per_unit,income_cash_inflow_before_tax,income_gain_tax_rate,income_gain_tax,income_cash_inflow,unit_outflow,capital_cash_inflow_before_tax,capital_gain_tax_rate,capital_gain_tax,capital_cash_inflow,cash_inflow,unit_inflow,cash_outflow,cash_flow,unit_flow,cash_balance,al_unit,al_balance,al_book_balance,unrealized_gl,rate
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10000.0,10000.0,-10000.0,10000.0,-10000.0,10000.0,10000.0,10000.0,0.0,0.05
1,1.05,-10000.0,10000.0,10500.0,10000.0,500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9523.809523809523,10000.0,-10000.0,9523.809523809523,-20000.0,19523.809523809523,20500.0,20000.0,500.0,0.05
2,1.1025,-20000.0,19523.809523809523,21525.0,20000.0,1525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-20000.0,19523.809523809523,21525.0,20000.0,1525.0,0.05
3,1.1576250000000001,-20000.0,19523.809523809523,22601.25,20000.0,2601.25,0.0,0.0,0.0,0.0,0.0,19523.809523809505,22601.24999999998,0.0,0.0,22601.24999999998,22601.24999999998,0.0,0.0,22601.24999999998,-19523.809523809505,2601.249999999982,1.8189894035458565e-11,2.1057076082797724e-11,1.8189894035458565e-11,2.8671820473391594e-12,0.05